<table class="table is-fullwidth">
  <thead>
  <tr>
    <th>Code</th>
    <th>Temp</th>
    <th>Wind Speed</th>
    <th>Wind Direction</th>
    <th>Pressure</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  {{#each station.reports}}
    <tr>
      <td>
        {{weathercode}}
      </td>
      <td>
        {{temperature}}°C
      </td>
      <td>
        {{windspeed}}bft
      </td>
      <td>
        {{winddirection}}°
      </td>
      <td>
        {{pressure}}hpa
      </td>
      <td>
        <a href="/station/{{../station._id}}/deletereport/{{_id}}" class="button">
          {{>icons/delete}}
        </a>
      </td>
      <td>
        <a href="/station/{{../station._id}}/editreport/{{_id}}" class="button">
          {{>icons/edit}}
        </a>
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>