<div class="fixed-grid has-5-cols min-height-2">
  <div class="grid">
    <div style="height:100%" class="cell box">
      <div style="margin-bottom: 1rem" class="is-flex is-justify-content-space-around is-align-items-center">
        <h2 style="margin: auto" class="title is-5">
          {{station.station}}
        </h2>
        <!--        TODO extract all inline styles to CSS-->
        <i style="min-width: 3rem; font-size: 2rem" class="fa-solid fa-location-dot"></i>
      </div>
      <p>Latitude:</p>
      <p>
        {{station.latitude}}
      </p>
      <p>Longitude:</p>
      <p>
        {{station.longitude}}
      </p>
    </div>
    <div style="height:100%" class="cell box">
      <div  style="margin-bottom: 1rem" class="is-flex is-justify-content-space-around is-align-items-center">
        <h2 class="title is-5">Weather</h2>
        <img style="max-width: 4rem" src="https://openweathermap.org/img/wn/10d@2x.png" />
      </div>
      <p>
        {{station.reports.0.weathercode}}
      </p>
    </div>
    <div style="height:100%" class="cell box">
      <div style="margin-bottom: 1rem" class="is-flex is-justify-content-space-around is-align-items-center">
        <h2 style="margin: auto" class="title is-5">Temp</h2>
        <i style="min-width: 3rem; font-size: 2rem" class="fa-solid fa-temperature-three-quarters"></i>
      </div>
      <p>
        {{station.reports.0.temperature}}째C
      </p>
    </div>
    <div style="height:100%" class="cell box">
      <div style="margin-bottom: 1rem" class="is-flex is-justify-content-space-around is-align-items-center">
        <h2 style="margin: auto" class="title is-5">Wind</h2>
        <i style="min-width: 3rem; font-size: 2rem" class="fa-solid fa-wind"></i>
      </div>
      <p>Wind Direction:</p>
      <p> {{station.reports.0.winddirection}}째
      </p>
      <p>Wind Speed:</p>
      <p> {{station.reports.0.windspeed}}bft
      </p>
    </div>
    <div  style="height:100%" class="cell box">
      <div style="margin-bottom: 1rem" class="is-flex is-justify-content-space-around is-align-items-center">
        <h2 style="margin: auto" class="title is-5">Pressure</h2>
        <i style="min-width: 3rem; font-size: 2rem" class="fa-solid fa-weight-hanging"></i>
      </div>
      <p> {{station.reports.0.pressure}}hba
      </p>
    </div>
  </div>
</div>


<table class="table is-fullwidth">
  <thead>
  <tr>
    <th>Code</th>
    <th>Temp</th>
    <th>Wind Speed</th>
    <th>Wind Direction</th>
    <th>Pressure</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  {{#each station.reports}}
    <tr>
      <td>
        {{weathercode}}
      </td>
      <td>
        {{temperature}}째C
      </td>
      <td>
        {{windspeed}}bft
      </td>
      <td>
        {{winddirection}}째
      </td>
      <td>
        {{pressure}}hpa
      </td>
      <td>
        <a href="/station/{{../station._id}}/deletereport/{{_id}}" class="button">
          {{>icons/delete}}
        </a>
      </td>
      <td>
        <a href="/station/{{../station._id}}/editreport/{{_id}}" class="button">
          {{>icons/edit}}
        </a>
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>